/* body{
    background-color: lightgrey;
    background-image: url("../images/background-image.jpg");
} */

body{
    background-color: lightgrey;
    background-image: url("/assets/images/01-02-02_background-image.jpg");
}

h2 {
    color: orangered;
}